TWITTER_URL_BASE=https://twitter.com
CHECK_INTERVAL=60
USERS=elonmusk,jack

EMAIL_SENDER=your_email@gmail.com
EMAIL_PASSWORD=your_app_password
EMAIL_RECEIVER=destination_email@gmail.com
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
